@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
  box-sizing: border-box;
}

.theme-light{
  --bg-image: url("assets/bg-desktop-light.jpg");
  --bg-image-mobile: url("assets/bg-mobile-light.jpg");
  --main-bg: hsl(0%,0%,98%);
  --todo-icon: url("assets/icon-moon.svg");
  --todo-bg: #fff;
  --todo-shadow: hsl(235,19%,35%);
  --todo-footer: hsl(235,19%,35%);
  --font-color: hsl(237,14%,26%);
  --font-color-hover: hsl(235,21%,11%);
}
.theme-dark{
  --bg-image: url("assets/bg-desktop-dark.jpg");
  --bg-image-mobile: url("assets/bg-mobile-dark.jpg");
  --main-bg: hsl(235,21%,11%);
  --todo-icon: url("assets/icon-sun.svg");
  --todo-bg: hsl(235,24%,19%);
  --todo-shadow: hsl(235,21%,11%);
  --todo-footer: hsl(234,11%,52%);
  --font-color: hsl(234,39%,85%);
  --font-color-hover: #fff;
}

body{
  background: var(--bg-image);
  background-size: 100dvw;
  background-repeat: no-repeat;
  background-color: var(--main-bg);
  font-family: "Josefin Sans";
  font-size: 18px;
  color: hsl(235, 19%, 35%);
}
@media (768px >= width){
  body{
    background: var(--bg-image-mobile) no-repeat;
    background-size: contain;
    background-color: var(--main-bg);
  }
}

.App{
  display: grid;
  justify-items: center;
  align-items: center;
}
.App-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  padding: 20px;
}
.App-title{
  color: hsl(0, 0%, 98%);
}
.App-icon{
  background: var(--todo-icon) no-repeat;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
@media (768px >= width){
  .App-header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 0px;
    margin-bottom: -20px;
  }
}
.App-td{
  width: 40%;
}
.App-td-add{
  position: relative;
  height: 65px;
}

.TodoAdd-span{
  width: 25px;
  height: 25px;
  border: 1px solid var(--font-color);
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 36px;
}
.TodoAdd-input{
  padding: 20px 60px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin: 20px auto;
  background-color: var(--todo-bg);
  color: var(--font-color);
  width: 100%;
}
@media (768px >= width){
  .App-td{
    width: 90%;
  }
  .App-td-add{
    padding-top: 0px;
    margin-bottom: -20px;
  }
}
.App-td-list{
  background: var(--todo-bg);
  border-radius: 5px;
  box-shadow: 0 6px 30px -9px var(--todo-shadow);
}

.TodoList{
  list-style-type: none;
  padding: 0;
  margin: 50px 0 0px 0;
  /* background: hsl(0, 0%, 98%);
  border-radius: 5px;
  box-shadow: 0 42px 30px -9px hsl(236, 33%, 92%); */
}

.TodoItem{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 0 0 25px;
  min-height: 60px;
  color: var(--font-color);
  border-bottom: 1px solid var(--font-color);
  position: relative; 
  touch-action: none;
}
.TodoItem-label{
  position: relative;
  padding: 2px 0 0 48px;
  width: 90%;
}
.TodoItem-input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
}
.TodoItem-description{
  display: inline-block;
  width: 90%;
  cursor: pointer;
}
.TodoItem-checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid var(--font-color);
  border-radius: 50px;
  cursor: pointer;
}
.TodoItem-checkmark:hover{
  border: 0px;
  padding: 1px;
  background: linear-gradient(135deg,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}
.TodoItem-checkmark:hover::before{
  content: "";
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: block;
  background: hsl(0, 0%, 98%);
}
.TodoItem-checkmark.isCompleted{
  background: center url("assets/icon-check.svg") no-repeat,
  linear-gradient(135deg,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}
.TodoItem-description.isCompleted{
  text-decoration: line-through;
}
.TodoItem-cross{
  background: url("assets/icon-cross.svg") no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0;
}
.TodoList .TodoItem:hover .TodoItem-cross{
  opacity: 1;
}

.TodoFooter{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 0;
  align-content: center;
  font-size: 13px;
  min-height: 50px;
  color: var(--todo-footer);
  position: relative;
}
.TodoFooter-filters{
  grid-column-start: 2;
  grid-column-end: 3;
}
.TodoFooter-clear{
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
}
.TodoFooter-itemsLeft{
  padding-left: 28px;
}
.TodoFooter-label{
  padding: 0px 10px;
}

.TodoFooter-input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.TodoFooter-span{
  cursor: pointer;
}
.TodoFooter-span:hover{
  color: var(--font-color-hover);
}
.TodoFooter-input:checked ~.TodoFooter-span{
  color: hsl(220, 98%, 61%);
}
@media (768px >= width){
 
  .TodoFooter-filters{
    position: relative;
    top: 50px;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background: var(--todo-bg);
    border-radius: 5px;
    box-shadow: 0 42px 30px -9px var(--todo-shadow);  
    font-size: 18px;
}
  
}
.App-p{
  color: hsl(236,9%,61%);
  padding-top: 50px;
}
